body, h1, h2, p, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}
.container {
  text-align: center;
  margin: 0 auto;
  max-width: 750px;
  padding: 20px;
}
form label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  text-align: left;
}
form input[type="date"],
form input[type="time"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

form button[type="submit"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  font-size: 20px;
 
 background: linear-gradient(135deg, #004175, #001D3A); 
 color: #fff;
  transition: transform 0.2s ease, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

form button[type="submit"]:hover {
  background: linear-gradient(135deg, #001D3A, 004175);
  transform: scale(1.05); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.container h2 {
  margin: 20px 0;
  font-size: 24px;
  text-align: center; 
}

.container:last-child {
  margin-bottom: 20px;
}
ul {
  text-align: left;
}